/build/
/node_modules/
/vendor/
/doczur.zip
/.phpunit.result.cache
/.phpcs-cache
/tools/composer.phar
/tools/composer-setup.php
/tools/composer-home/
/tools/composer-installer.sig
*.log
.DS_Store
Thumbs.db
/.idea/
/.vscode/
